---
---
<nav class="bg-boxColor py-4 shadow-md dark:bg-gray-800">
  <div class="container mx-auto px-4 flex items-center justify-between">
    <a href="/" class="text-2xl font-bold text-textPrimary">Soccer Tracker</a>
    <ul class="flex space-x-6">
      <li>
        <a href="/" class="hover:text-blue-500 transition-colors duration-300 text-textPrimary">Home</a>
      </li>
      <li>
        <a href="/gym" class="hover:text-blue-500 transition-colors duration-300 text-textPrimary">Gym</a>
      </li>
      <li>
        <a href="/calendar" class="hover:text-blue-500 transition-colors duration-300 text-textPrimary">Calendar</a>
      </li>
      <li>
        <a href="/weather" class="hover:text-blue-500 transition-colors duration-300 text-textPrimary">Weather</a>
      </li>
      <li>
        <a href="/notes" class="hover:text-blue-500 transition-colors duration-300 text-textPrimary">Notes</a>
      </li>
      <li>
        <a href="/motivation" class="hover:text-blue-500 transition-colors duration-300 text-textPrimary">Motivation</a>
      </li>
      <li>
        <a href="/readiness" class="hover:text-blue-500 transition-colors duration-300 text-textPrimary">Readiness</a>
      </li>
      <li>
        <a href="/suggested" class="hover:text-blue-500 transition-colors duration-300 text-textPrimary">Suggested</a>
      </li>
    </ul>
  </div>
</nav>
